body {
margin: 0;
font-family: Arial, sans-serif;
background: #efefea;
display: flex;
justify-content: center;
}

.container {
width: 100%;
max-width: 1100px;
padding: 20px;
box-sizing: border-box;
}

.header {
padding: 15px 0;
display: flex;
align-items: center;
gap: 10px;
}

.logo-text {
font-size: 14px;
}

.line {
height: 3px;
background: #000;
margin: 10px 0;
}

/* --- Основной контент --- */
.main-content {
display: flex;
flex-wrap: wrap;
gap: 15px;
margin-top: 20px;
}

.left {
flex: 2;
min-width: 300px;
background: #fff;
padding: 20px;
border: 1px solid #ccc;
box-sizing: border-box;
}

.right {
flex: 1;
min-width: 250px;
background: #fff;
padding: 20px;
border: 1px solid #ccc;
box-sizing: border-box;
}

h2, h3 {
margin-top: 0;
}

.encode-options a {
color: #005599;
text-decoration: none;
}

.input {
width: 100%;
height: 130px;
border: 1px solid #aaa;
margin-top: 10px;
padding: 5px;
box-sizing: border-box;
}

.size-box {
margin: 15px 0;
}

.btn {
background: #e6e6e6;
border: 1px solid #999;
padding: 8px 12px;
cursor: pointer;
}

.qr-box {
width: 200px;
height: 200px;
border: 1px solid #aaa;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}

.link {
width: 100%;
padding: 8px;
border: 1px solid #bbb;
box-sizing: border-box;
}

.fake-ad {
width: 100%;
height: 160px;
background: #ddd;
border: 1px solid #bbb;
display: flex;
justify-content: center;
align-items: center;
margin: 15px 0;
font-style: italic;
}

